<div>
    <input type="text" [(ngModel)]="droneToFind" placeholder="Entrez le numéro du drone"/>
    <button (click)="runList()">Go!</button> {{droneToFind}}
</div>

<div id="map" class="map">

</div>
{{dronesList | json}}